<%= turbo_frame_tag :home_world do %>
  <div>Name: <%= @homeworld.name %></div>
  <div>Gravity: <%= @homeworld.gravity %></div>
  <div>Gravity: <%= @homeworld.gravity %></div>
  <div>Terrain: <%= @homeworld.terrain %></div>
  <div>Has Surface Water: <%= @homeworld.surface_water %></div>
  <div>Population: <%= @homeworld.population %></div>
<% end %>
